
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif !important;
}
body
{
    overflow-x:hidden;
}
.container
{
    padding:0px;
}

.hero-image
{
    width:100%;
    height:100vh;
    background-image:linear-gradient(to bottom,rgba(1,1,1,0.8),rgba(0, 29, 56, 0.5)),url("../images/header-image-1.png");
    background-size:cover;
}

.welcome-heading,
.website_name-heading
{
    font-size:7rem;
    font-weight:100;
}
.display-1
{
    font-weight:bolder;
    font-size: 5rem;
}
.hero-image-like-icon
{
    font-size:3rem;
}
.image-gallery
{
    width:300px;
    height:400px;
    border-radius:20px;
    border:1px solid #fff;
    box-shadow:2px 1px 10px 5px #0009;
}
.col
{
    padding:0px;
    width:200px;
    height:300px;
}
.section-one
{
    margin-top:10rem;
}
.section_one-background
{
    padding:20px;
    width:100%;
    height:auto;
    background:url("../images/section-background.jpg");
    background-size:cover;
}


.about-image
{
    width:220px;
    height:200px;
    shape-outside: circle(50%);
    border-radius:50%;
}

.section-two
{
    margin-top:calc(20rem - 10rem);
    min-height:500px;
}

.section_two-about-us
{
    height:100vh;
    background:#fff;
    padding:0px;
}
.about_baila-bollywood
{
    font-size:1.5rem;
    text-transform:capitalize;
    font-weight:bolder;
}
.section-heading
{
    font-size:5rem;
    font-weight:900;
}
.line
{
    width:150px;
    height:2px;
    background:#0009;
    margin-left:auto;
    margin-right:auto;
}

.section-three
{
    margin-top:10rem;
}

.btn-primary,
.btn-success,
.btn-warning,
.btn-danger,
.btn-dark
{
    margin:10px;
    min-height:50px;
    font-size:2rem;
    font-weight:900;
    width:50px;
    color:white;
}