
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif ;
}
body
{
    overflow-x:hidden;
    width:100%;
}

.hero-image-icon
{
    height:200px;
    width:200px;
}
.hero-image
{
    width:100%;
    height:100vh;
    background-image:linear-gradient(to bottom,rgba(1,1,1,0.8),rgba(0, 29, 56, 0.5)),url("../images/header-image-1.png");
    background-size:cover;
    border-radius: 0px;
}

.welcome-heading,
.website_name-heading
{
    font-size:7rem;
    font-weight:100;
}
.display-1
{
    font-weight:bolder;
    font-size: 5rem;
}
.hero-image-like-icon
{
    font-size:3rem;
}
.name-label,
.email-label,
.subject-label
{
    position:relative;
    top:30px;
    left:20px;
    color:rgba(220, 36, 36, 1);
    font-size:1.5rem;
}
.form-control[placeholder]
{
    margin-top:10px;
   
}
.form-control
{
    height:60px;
    border:1px solid #373B44;
}

.back-to-top-btn
{
    height:50px;
    width:50px;
    position:fixed;
    right:0px;
    top:500px;
    background:#000;
}
.section-one,
.section-two,
.section-three,
.section-four,
.section-five
{
  overflow: hidden;
  width:100%;
  margin-top:10rem;
}

.image-gallery
{
    width:100%;
    height:100%;
    border-radius:20px;
    box-shadow:0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08)
}
.col
{
    padding:0px;
    width:200px;
    height:300px;
}


.section_one-background
{
    padding:20px;
    width:100%;
    height:auto;
    background-size:cover;
}
.indian-classical-jumbotron
{
    background:#fff;
    
}
.indian_dance-history,
.about_us-paragraph
{
    font-size:1.2rem;
    font-weight:bolder;
    text-transform: capitalize;
}
.about_us-paragraph
{
    letter-spacing:1px;
    word-spacing:2px;
}

.indian_dance-history strong
{
    font-size:1.5rem;
    font-size:bolder;
    font-family:baskerville old face;
    letter-spacing: 5px;
    text-decoration:underline;
}
.traditional-dance-img
{
    height:200px;
    width:300px;
}
.about-image
{
    width:220px;
    height:200px;
    shape-outside: circle(50%);
    border-radius:50%;
}

.section_two-about-us
{
    background:#fff;
    padding:0px;
}

.line
{
    width:150px;
    height:2px;
    background:#000;
    margin-left:auto;
    margin-right:auto;
}

.btn-primary,
.btn-success,
.btn-warning,
.btn-danger,
.btn-dark
{
    margin:10px;
    min-height:50px;
    font-size:2rem;
    font-weight:900;
    width:50px;
    color:white;
}

.popular-artist
{
    height:100%;
    width:100%;
}
.load-more
{
    background-image:linear-gradient(to right,#1D4350,#A43931);
    font-size:2rem;
    min-width:50px;
     border-radius:50px;
}
.load-more:hover
{
    background:#1D4350;
    color:white;
}

.container-founder-image
{
    position:relative;
    overflow:hidden;
    height:200px;
    width:200px;
   border-radius:50%;
}
.img-founder
{
    height:200px;
    width:200px;
    border-radius:50%;
}

.container-founder-image:hover .img-founder
{
   transform:scale(1.1);
}

.content-center
{
    margin-bottom:0;
    display: flex;
    min-height:100vh;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to bottom,rgba(220, 36, 36, 0.6),rgba(1,1,1,0.7)), url("../images/red-forest-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.read-more-btn
{
    color:#fff;
    background:rgba(220, 36, 36, 1);
    height:40px;
   
   
}
.read-more-btn:hover
{
    color:rgba(220, 36, 36, 1);
    background:white;
}

.footer-row
{
    min-height:300px;
    background:rgba(0, 29, 56, 1);
}
.footer-left,
.footer-center,
.footer-right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width:100%;
    color:white;
    
}

.social-icons i
{
    font-size:2rem;
    padding:15px;
    height:60px;
    width:60px;
    border:1px solid #fff;
    margin:5px;
    color:white;
}
.fa-facebook:hover
{
    background: #3b5999;
    border-color:#3b5999;
}
.fa-youtube:hover
{
    background:#cd201f;
    border-color:#cd201f;
}
.fa-twitter:hover
{
    background:#55acee;
    border-color:#55acee;
}
.fa-linkedin:hover
{
    background:#0077B5;
    border-color:#0077B5;
}
.fa-instagram:hover
{
    background:#e4405f;
    border-color:#e4405f;

}
.footer-right-img
{
    height:100px;
    width:100px;
    margin-top:7rem;
    animation:rocket 1s ease infinite alternate;
    transition:all 0.5s ease;
}

@keyframes rocket
{
    0%
    {
        transform:translateY(-50px);
    }
    100%
    {
        transform:translateY(0px);
    }
}

.imgBox
{
    position:relative;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    height:275px;
    width:307px;
}
.over-img
{
    background:rgba(220, 36, 36, 0.5);
    position:absolute;
    z-index:100;
    height:100%;
    width:305px;
}
.txt-over-img
{
    position:absolute;
    color:#fff;
    z-index:200;
    bottom:5px;
    left:5px;
    font-family:monospace;
    font-size:1rem;
    text-align:center;
    padding:20px;
}
.img{
    transition:all 0.5s ease;
}
.imgBox:hover .img
{
   transform:scale(1.2);
   
}