*
{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Titillium Web', sans-serif ;
}
body
{
    background:url("../images/section-background.jpg");
}

.container-row
{
    width:100%;
    min-height:500px;
    margin:5rem auto;
    box-shadow:0 0px 8px 0 rgb(0, 29, 56);
    border-radius:20px;
    background:#fff;
}

.jumbotron
{
    border-radius:0px;
}

.form-text
{
    
    color:#373B44;
    font-size:0.9rem;
}

.modal-header
{
    box-shadow:0px 0px 25px 0px;
}
.modal-title
{
    font-size:2.1em;
    font-weight:900;
}
.name-label,
.email-label,
.subject-label,
.pass-label,
.phone-label
{
    position:relative;
    top:30px;
    left:20px;
    color:rgba(220, 36, 36, 1);
    font-size:1.5rem;
}
.login-right-image-content
{

    min-height:100%;
    margin:0;
    border-radius:0px 20px 20px 0px;
    background:white;
    background-image: url('../images/spanish-man.gif');
    background-size:100% 100%;
   
}
.register-left-image-content
{
  
    min-height:100%;
    margin:0;
    background:#fff;
    border-radius:20px 0px 0px 20px;
     background-image: url('../images/spanish-man.gif');
     background-size:100% 100%;
}

.form-control
{
    height:60px;
    border:1px solid #373B44;
}
.form-control[placeholder]
{
    margin-top:10px;
   
}
.form-control:focus
{
    border-color:rgba(220, 36, 36, 1);
}

.btn-register
{
    height:70px;
    font-size:1.5rem;
    width:100%;
    line-height:50px;
     font-weight:bolder;
    letter-spacing:2px;
    color:#fff;
    background:rgba(0, 29, 56, 1);
}
.btn-register:hover
{
    color:rgba(0, 29, 56, 1);
    background:#fff;
    border:1px solid rgba(0, 29, 56, 1);
}
.btn-login
{
    font-size:1.5rem;
    letter-spacing:2px;
    height:70px;
    color:rgba(0, 29, 56, 1);
    background:#fff;
    border:1px solid rgba(0, 29, 56, 1);
    line-height:55px;
     width:100%;
     font-weight:bolder;
}
.btn-login:hover
{
    color:#fff;
    background:rgba(0, 29, 56, 1);
}
.login-menu-spanish-man
{
    height:100px;
    width:100px;
}
.or-seperator
{
    position:relative;
    top:55px;
    background:#fff;
    width:80px;
    height:80px;
    line-height:80px;
    border-radius:50%;
    border:1px solid rgba(0,29,56,1);
    margin:0 auto;
}
.social-media-login-seperator
{
   border:1px solid rgba(0, 29, 56, 1);
}
.facebook-login
{
    color:#fff;
    background:#3b5999;
    border:1px solid #3b5999;
    text-align:center;
    transition:0.5s all;
    border-radius:50px;
}

.google-login
{
    color:#fff;
     transition:0.5s all;
    background:#dd4b39;
    border:1px solid #dd4b39;
    text-align:center;
    border-radius:50px;
}

.instagram-login
{
     transition:0.5s all;
    color:#fff;
    background:linear-gradient(to right,#405DE6,#833AB4,#C13584, #E1306C,#F77737,#FCAF45,#FFDC80);
    border:1px solid #fff;
    text-align:center;
    border-radius:50px;
}
.facebook-login:hover
{
    color:#3b5999;
    background:#fff;
    border-color:#3b5999;
}
.google-login:hover
{
    color:#dd4b39;
    background:#fff;
    border-color:#dd4b39;
}
.instagram-login:hover
{
    color:#e4405f;
    background:#fff;
    border:1px solid #e4405f;
}