/*******For screen that are greater than or equal to 1200px 
(extra-Large Device screen width>=1200px********/

@media  (min-width: 1200px)
 {


}

 /*****For screen that are greater than 991px and less than 1200px 
(Large Device screen 992px<=width<=1200px*********/

@media (min-width: 992px) and (max-width: 1199.98px) 
{
        
        .log-reg-btn
        {
                margin-left:10px;
               
        }

 }

 @media (max-width:1078px)
 {
          .log-reg-btn
        {
                margin-left:40px;

        }
        .navbar .navbar-collapse .navbar-nav .nav-item
        {
                margin:2px;
        }
         .navbar .navbar-collapse .navbar-nav .nav-item .nav-link
         {
                 font-size:0.8rem;
         }
 }

/*For screen that are greater than 767px and less than 991px 
(Medium Device screen 768px<=width<=1200px*/

@media (min-width: 768px) and (max-width: 991.98px) 
{
        
        .log-reg-btn
        {
                 margin-top:20px;
        }
        .login-right-image-content,
        .register-left-image-content
        {
              display:none;
        }


  }

/*For screen that are greater than 576px and less than 768px 
(Small Device screen 576<=width<=1200px*/

@media (min-width: 576px) and (max-width: 767.98px) 
{
       
       .log-reg-btn
        {
                 margin-top:20px;
        }
        .login-right-image-content,
        .register-left-image-content
        {
              display:none;
        }

       


  }

/*For screen that are smaller that 576px 
(Extra Small Device screen width<=576px*/

@media (max-width: 575.98px)
 {

               .log-reg-btn
        {
                 margin-top:20px;
        }
     
       
        .btn-primary,
        .btn-success,
        .btn-warning,
        .btn-danger,
        .btn-dark
        {
          margin:0px;
         min-height:2px;
         font-size:1rem;
          min-width:1px;
        }
        .login-right-image-content,
        .register-left-image-content
        {
              display:none;
        }

        
        
   }

@media (max-width:435px)
{
      .about-heading,
      .srch-alphabet,
      .popular-artist-heading 
      {
              font-size:4.7rem;
        }
}

@media (max-width:340px)
{
   .log-reg-btn
        {
                margin-left:10px;
        }
        .login-btn
       {
               margin-right:10px;
       }
       .about-heading
       {
       
              font-size:4rem;
        }
    
}