@font-face {
    font-family: Ananda Namaste Regular;
    src: url("../Ananda Namaste Regular.ttf");
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif ;
    font-display: fallback;
    
}
/*
#loader
{
    height:100vh;
    width:100%;
    overflow:hidden;
    z-index: 9999999;
    animation:preloader 1s ease infinite alternate;
    transition: all 0.5s ease ;
}

@keyframes preloader
{
    0%
    {
        background:rgba(0, 29, 56, 1) url("../images/baila-bollywood-icon.png") no-repeat center;
        background-size:150px 150px;
        transform: scale(1);
    }
    100%
    {
        background:rgba(0, 29, 56, 1) url("../images/baila-bollywood-icon-red.png") no-repeat center;
        background-size: 150px 150px;
        transform: scale(1.2);
    }

}
*/
a
{
    color:rgba(0, 29, 56, 1) !important;
    font-weight:900;
    text-decoration:none !important;
}
#main-body
{
    overflow-x:hidden;
    counter-reset: numberPrefix;
    background:url("../images/red-forest-bg.jpg") center no-repeat ;
    background-size: 100vw 100%;

}


/*****Navbar header****/
#nav-header {
    padding-right: 0;
}

.navbar, .navbar-expand-lg, navbar-light {
    background:#fff;
  box-shadow:0px 1px 20px 0px rgba(46, 61, 73, 0.2);

}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    margin-right: auto;
    margin-left: auto;
    font-weight: 100;
    color: #fff;
}

.navbar-toggler-icon {
    height: 30px;
    width: 30px;
    content: url('../images/navbar-toggler-icon.png');
}

.logo-navbar-left {
    width: 80px;
    height: 80px;
    transform: scale(1.3);
}
.dropdown-toggle
{
    color:#000;
}
.dropdown-item
{
    color:#000 !important;
}

.navbar-nav {
    margin-right: 0;
}

/*Video frame*/

.video-content-frame {
    height:450px;
    width:100%;
    border:none;
    position:sticky; 
    box-shadow:0 0 8px 0 #000 ;
    background:rgba(0, 29, 56, 1);
   
}
.image-below-video-frame
{
    height:300px;
    width:300px;
}


/*Music playlist ytb*/
.media-box
{
    margin-bottom:2rem;
}
.pg-con-music-playlist 
{
    height: 100vh;
    padding:10px;
    background: linear-gradient(to bottom,rgba(1,1,1,0.8) ,rgba(0, 29, 56, 0.5) );
    /*
   background:url("https://drive.google.com/uc?id=1zjSPYS57_pXK_Oh0Tfslubdo_7wharl4");
   */
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 29, 56, 1); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 29, 56, 0.8); 
  }
.music-playlist-row
{
    margin: auto;
}
.song-name-heading
{
    
    font-weight: 900;
}

.media-body a
{
    text-decoration: none;
}
.music-media-101,
.music-media-102
{
    margin-top:2rem;
}
.music-playlist-row
{
    margin: auto;
}
.media-heading
{
    margin-top:10px;
    font-size:1.2rem;
    text-align: left;
    color: #fff;
}

.media-heading::before
{
counter-increment: numberPrefix;
  content: "0" counter(numberPrefix) ". ";
  color:red;
  font-family: baskerville old face;
  
}

.img-music {
    height: 90px;
    width: 160px;
    box-shadow: 0px 2px 10px 0 #0009;
}

/* Footer */
/***********
    Privacy Policy Modal Box
    **********/
    .privacy-statement
{
    height:500px;
    overflow-y: scroll;
    padding:30px;
    text-align:justify;
}
.footer-section
{
    width:100%;
    min-height:50px;
    background:linear-gradient(to right ,rgba(255, 95, 109, 1),rgba(247, 183, 51, 1));
    color:#fff;
    text-align:center;
    padding:10px;
    font-weight: lighter;
}
.footer-section img
{
    height:30px;
    width:30px;
}

/*Scroll bar*/
.hide-scrollbar {
    -webkit-scrollbar-width: thin;
    -webkit-scrollbar-color: transparent transparent;
    scrollbar-width: thin;
   scrollbar-color: transparent transparent;
  }