* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif ;
}

a
{
    color:rgba(0, 29, 56, 1) !important;
    font-weight:900;
}

/*****Navbar header****/
#nav-header {
    padding-right: 0;
}

.navbar, .navbar-expand-lg, navbar-light {
    background: linear-gradient(to bottom,rgba(1,1,1,0.8) ,rgba(0, 29, 56, 1) );
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    margin-right: auto;
    margin-left: auto;
    font-weight: 100;
    color: #fff;
}

.navbar-toggler-icon {
    height: 30px;
    width: 30px;
    content: url('../images/navbar-toggler-icon.png');
}

.logo-navbar {
    width: 80px;
    height: 80px;
}

.navbar-nav {
    margin-right: 0;
}

/*Video frame*/

.video-content-frame {
    height:450px;
    width:100%;
    border: 1px solid #000;
}


/*Music playlist ytb*/
.pg-con-music-playlist {
    height: 500px;
    overflow-y: scroll;
}

.media-heading {
    font-weight: 900;;
    padding-bottom: 5px;
    width: 130px;
    font-size:1rem;
}

.media {
    color: #000;
    margin: 10px;
}

.img-101, .img-102, .img-103, .img-104, .img-105, .img-106, .img-107, .img-108, .img-109, .img-110, .img-111, .img-112, .img-113, .img-114, .img-115, .img-116, .img-117, .img-118, .img-119, .img-120 {
    height: 90px;
    width: 160px;
    box-shadow: 0px 2px 10px 0 #0009;
}

/* Footer */
.footer-section
{
    width:100%;
    min-height:50px;
    background:rgba(0, 29, 56, 1);
    color:white;
    text-align:center;
    padding:10px;
}
.footer-section img
{
    height:30px;
    width:30px;
}
/*Scroll bar*/
.hide-scrollbar {
    -webkit-scrollbar-width: thin;
    -webkit-scrollbar-color: transparent transparent;
    scrollbar-width: thin;
   scrollbar-color: transparent transparent;
  }